/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Background */
body {
  min-height: 100vh;
  background: linear-gradient(135deg, #760404, #7d5050);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Container */
.app-container {
  width: 80%;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Navbar */
/* Navbar */
nav {
  display: flex;
  justify-content: space-evenly;   /* distributes evenly */
  align-items: center;
  margin-bottom: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: white;
  color: #29064b;
  transform: translateY(-2px);
}


/* Page Content */
.page {
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.page h1 {
  margin-bottom: 15px;
  font-size: 32px;
}

.page p {
  font-size: 18px;
  opacity: 0.9;
}

/* Loading Text */
.loading {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
